In [1]:
import numpy as np
import pandas as pd
import csv
data1 = pd.read_csv("./0714train.csv")
data1 = data1.drop(["Number"],axis=1)
def int_(row):
	# print(row)
	a = data1[row].isnull().value_counts()
	# print(a)
	data1[row] = data1[row].fillna(data1[row].median())
	# print(data1[row])
	c = data1[row].isnull().value_counts()
	print(c)
for row in data1:
	int_(row)

False    348
Name: Input_A1_001, dtype: int64
False    348
Name: Input_A1_002, dtype: int64
False    348
Name: Input_A1_003, dtype: int64
False    348
Name: Input_A1_004, dtype: int64
False    348
Name: Input_A1_005, dtype: int64
False    348
Name: Input_A1_006, dtype: int64
False    348
Name: Input_A1_007, dtype: int64
False    348
Name: Input_A1_008, dtype: int64
False    348
Name: Input_A1_009, dtype: int64
False    348
Name: Input_A1_010, dtype: int64
False    348
Name: Input_A1_011, dtype: int64
False    348
Name: Input_A1_012, dtype: int64
False    348
Name: Input_A1_013, dtype: int64
False    348
Name: Input_A1_014, dtype: int64
False    348
Name: Input_A1_015, dtype: int64
False    348
Name: Input_A1_016, dtype: int64
False    348
Name: Input_A1_017, dtype: int64
False    348
Name: Input_A1_018, dtype: int64
False    348
Name: Input_A1_019, dtype: int64
False    348
Name: Input_A1_020, dtype: int64
False    348
Name: Input_A1_021, dtype: int64
False    348
Name: Input_A1_022, dtype: int64
False    348
Name: Input_A1_023, dtype: int64
False    348
Name: Input_A1_024, dtype: int64
False    348
Name: Input_A2_001, dtype: int64
False    348
Name: Input_A2_002, dtype: int64
False    348
Name: Input_A2_003, dtype: int64
False    348
Name: Input_A2_004, dtype: int64
False    348
Name: Input_A2_005, dtype: int64
False    348
Name: Input_A2_006, dtype: int64
False    348
Name: Input_A2_007, dtype: int64
False    348
Name: Input_A2_008, dtype: int64
False    348
Name: Input_A2_009, dtype: int64
False    348
Name: Input_A2_010, dtype: int64
False    348
Name: Input_A2_011, dtype: int64
False    348
Name: Input_A2_012, dtype: int64
False    348
Name: Input_A2_013, dtype: int64
False    348
Name: Input_A2_014, dtype: int64
False    348
Name: Input_A2_015, dtype: int64
False    348
Name: Input_A2_016, dtype: int64
False    348
Name: Input_A2_017, dtype: int64
False    348
Name: Input_A2_018, dtype: int64
False    348
Name: Input_A2_019, dtype: int64
False    348
Name: Input_A2_020, dtype: int64
False    348
Name: Input_A2_021, dtype: int64
False    348
Name: Input_A2_022, dtype: int64
False    348
Name: Input_A2_023, dtype: int64
False    348
Name: Input_A2_024, dtype: int64
False    348
Name: Input_A3_001, dtype: int64
False    348
Name: Input_A3_002, dtype: int64
False    348
Name: Input_A3_003, dtype: int64
False    348
Name: Input_A3_004, dtype: int64
False    348
Name: Input_A3_005, dtype: int64
False    348
Name: Input_A3_006, dtype: int64
False    348
Name: Input_A3_007, dtype: int64
False    348
Name: Input_A3_008, dtype: int64
False    348
Name: Input_A3_009, dtype: int64
False    348
Name: Input_A3_010, dtype: int64
False    348
Name: Input_A3_011, dtype: int64
False    348
Name: Input_A3_012, dtype: int64
False    348
Name: Input_A3_013, dtype: int64
False    348
Name: Input_A3_014, dtype: int64
False    348
Name: Input_A3_015, dtype: int64
False    348
Name: Input_A3_016, dtype: int64
False    348
Name: Input_A3_017, dtype: int64
False    348
Name: Input_A3_018, dtype: int64
False    348
Name: Input_A3_019, dtype: int64
False    348
Name: Input_A3_020, dtype: int64
False    348
Name: Input_A3_021, dtype: int64
False    348
Name: Input_A3_022, dtype: int64
False    348
Name: Input_A3_023, dtype: int64
False    348
Name: Input_A3_024, dtype: int64
False    348
Name: Input_A4_001, dtype: int64
False    348
Name: Input_A4_002, dtype: int64
False    348
Name: Input_A4_003, dtype: int64
False    348
Name: Input_A4_004, dtype: int64
False    348
Name: Input_A4_005, dtype: int64
False    348
Name: Input_A4_006, dtype: int64
False    348
Name: Input_A4_007, dtype: int64
False    348
Name: Input_A4_008, dtype: int64
False    348
Name: Input_A4_009, dtype: int64
False    348
Name: Input_A4_010, dtype: int64
False    348
Name: Input_A4_011, dtype: int64
False    348
Name: Input_A4_012, dtype: int64
False    348
Name: Input_A4_013, dtype: int64
False    348
Name: Input_A4_014, dtype: int64
False    348
Name: Input_A4_015, dtype: int64
False    348
Name: Input_A4_016, dtype: int64
False    348
Name: Input_A4_017, dtype: int64
False    348
Name: Input_A4_018, dtype: int64
False    348
Name: Input_A4_019, dtype: int64
False    348
Name: Input_A4_020, dtype: int64
False    348
Name: Input_A4_021, dtype: int64
False    348
Name: Input_A4_022, dtype: int64
False    348
Name: Input_A4_023, dtype: int64
False    348
Name: Input_A4_024, dtype: int64
False    348
Name: Input_A5_001, dtype: int64
False    348
Name: Input_A5_002, dtype: int64
False    348
Name: Input_A5_003, dtype: int64
False    348
Name: Input_A5_004, dtype: int64
False    348
Name: Input_A5_005, dtype: int64
False    348
Name: Input_A5_006, dtype: int64
False    348
Name: Input_A5_007, dtype: int64
False    348
Name: Input_A5_008, dtype: int64
False    348
Name: Input_A5_009, dtype: int64
False    348
Name: Input_A5_010, dtype: int64
False    348
Name: Input_A5_011, dtype: int64
False    348
Name: Input_A5_012, dtype: int64
False    348
Name: Input_A5_013, dtype: int64
False    348
Name: Input_A5_014, dtype: int64
False    348
Name: Input_A5_015, dtype: int64
False    348
Name: Input_A5_016, dtype: int64
False    348
Name: Input_A5_017, dtype: int64
False    348
Name: Input_A5_018, dtype: int64
False    348
Name: Input_A5_019, dtype: int64
False    348
Name: Input_A5_020, dtype: int64
False    348
Name: Input_A5_021, dtype: int64
False    348
Name: Input_A5_022, dtype: int64
False    348
Name: Input_A5_023, dtype: int64
False    348
Name: Input_A5_024, dtype: int64
False    348
Name: Input_A6_001, dtype: int64
False    348
Name: Input_A6_002, dtype: int64
False    348
Name: Input_A6_003, dtype: int64
False    348
Name: Input_A6_004, dtype: int64
False    348
Name: Input_A6_005, dtype: int64
False    348
Name: Input_A6_006, dtype: int64
False    348
Name: Input_A6_007, dtype: int64
False    348
Name: Input_A6_008, dtype: int64
False    348
Name: Input_A6_009, dtype: int64
False    348
Name: Input_A6_010, dtype: int64
False    348
Name: Input_A6_011, dtype: int64
False    348
Name: Input_A6_012, dtype: int64
False    348
Name: Input_A6_013, dtype: int64
False    348
Name: Input_A6_014, dtype: int64
False    348
Name: Input_A6_015, dtype: int64
False    348
Name: Input_A6_016, dtype: int64
False    348
Name: Input_A6_017, dtype: int64
False    348
Name: Input_A6_018, dtype: int64
False    348
Name: Input_A6_019, dtype: int64
False    348
Name: Input_A6_020, dtype: int64
False    348
Name: Input_A6_021, dtype: int64
False    348
Name: Input_A6_022, dtype: int64
False    348
Name: Input_A6_023, dtype: int64
False    348
Name: Input_A6_024, dtype: int64
False    348
Name: Input_C_001, dtype: int64
False    348
Name: Input_C_002, dtype: int64
False    348
Name: Input_C_003, dtype: int64
False    348
Name: Input_C_004, dtype: int64
False    348
Name: Input_C_005, dtype: int64
False    348
Name: Input_C_006, dtype: int64
False    348
Name: Input_C_007, dtype: int64
False    348
Name: Input_C_008, dtype: int64
False    348
Name: Input_C_009, dtype: int64
False    348
Name: Input_C_010, dtype: int64
False    348
Name: Input_C_011, dtype: int64
False    348
Name: Input_C_012, dtype: int64
False    348
Name: Input_C_013, dtype: int64
False    348
Name: Input_C_014, dtype: int64

TypeError: could not convert string to float: 'N;0;L;1'

In [2]:
#拆分文字，再用該列的中位數補遺失值
data2 = data1["Input_C_063"].str.split(";",expand = True)
print(data2[1])
a = data2[1].isnull().value_counts()
print(a)
data2[1] = data2[1].fillna(data2[1].median())
print(data2[1])
c = data2[1].isnull().value_counts()
print(c)

#完整處理字串的寫法
def str_(row):
	#1
	data2 = data1[row].str.split(";",expand = True)
	# print(data2[1])
	a1 = data2[1].isnull().value_counts()
	# print(a)
	data2[1] = data2[1].fillna(data2[1].median())
	# print(data2[1])
	c1 = data2[1].isnull().value_counts()
	print(c1)
	#3
	print(data2[3])
	a3 = data2[3].isnull().value_counts()
	# print(a)
	data2[3] = data2[3].fillna(data2[3].median())
	# print(data2[3])
	c3 = data2[3].isnull().value_counts()
	print(c3)

0        1
1        1
2        1
3      NaN
4      NaN
      ...
343      1
344      1
345      1
346      1
347      1
Name: 1, Length: 348, dtype: object
False    258
True      90
Name: 1, dtype: int64
0      1
1      1
2      1
3      1
4      1
      ..
343    1
344    1
345    1
346    1
347    1
Name: 1, Length: 348, dtype: object
False    348
Name: 1, dtype: int64

In [3]:
#我的想法：轉置csv檔找出字串和非字串，再個別執行
#但就會造成無限迴圈
e = data1.transpose()

for i in e[0]:
	print(i)
	if type(i) == str:
		for row in data1: #這裡的迴圈沒有經過if else，導致判讀到剛開始出現字串(Input_C_015)就中止
			str_(row)
	else:
		for row in data1:
			int_(row)

0.0
False    348
Name: Input_A1_001, dtype: int64
False    348
Name: Input_A1_002, dtype: int64
False    348
Name: Input_A1_003, dtype: int64
False    348
Name: Input_A1_004, dtype: int64
False    348
Name: Input_A1_005, dtype: int64
False    348
Name: Input_A1_006, dtype: int64
False    348
Name: Input_A1_007, dtype: int64
False    348
Name: Input_A1_008, dtype: int64
False    348
Name: Input_A1_009, dtype: int64
False    348
Name: Input_A1_010, dtype: int64
False    348
Name: Input_A1_011, dtype: int64
False    348
Name: Input_A1_012, dtype: int64
False    348
Name: Input_A1_013, dtype: int64
False    348
Name: Input_A1_014, dtype: int64
False    348
Name: Input_A1_015, dtype: int64
False    348
Name: Input_A1_016, dtype: int64
False    348
Name: Input_A1_017, dtype: int64
False    348
Name: Input_A1_018, dtype: int64
False    348
Name: Input_A1_019, dtype: int64
False    348
Name: Input_A1_020, dtype: int64
False    348
Name: Input_A1_021, dtype: int64
False    348
Name: Input_A1_022, dtype: int64
False    348
Name: Input_A1_023, dtype: int64
False    348
Name: Input_A1_024, dtype: int64
False    348
Name: Input_A2_001, dtype: int64
False    348
Name: Input_A2_002, dtype: int64
False    348
Name: Input_A2_003, dtype: int64
False    348
Name: Input_A2_004, dtype: int64
False    348
Name: Input_A2_005, dtype: int64
False    348
Name: Input_A2_006, dtype: int64
False    348
Name: Input_A2_007, dtype: int64
False    348
Name: Input_A2_008, dtype: int64
False    348
Name: Input_A2_009, dtype: int64
False    348
Name: Input_A2_010, dtype: int64
False    348
Name: Input_A2_011, dtype: int64
False    348
Name: Input_A2_012, dtype: int64
False    348
Name: Input_A2_013, dtype: int64
False    348
Name: Input_A2_014, dtype: int64
False    348
Name: Input_A2_015, dtype: int64
False    348
Name: Input_A2_016, dtype: int64
False    348
Name: Input_A2_017, dtype: int64
False    348
Name: Input_A2_018, dtype: int64
False    348
Name: Input_A2_019, dtype: int64
False    348
Name: Input_A2_020, dtype: int64
False    348
Name: Input_A2_021, dtype: int64
False    348
Name: Input_A2_022, dtype: int64
False    348
Name: Input_A2_023, dtype: int64
False    348
Name: Input_A2_024, dtype: int64
False    348
Name: Input_A3_001, dtype: int64
False    348
Name: Input_A3_002, dtype: int64
False    348
Name: Input_A3_003, dtype: int64
False    348
Name: Input_A3_004, dtype: int64
False    348
Name: Input_A3_005, dtype: int64
False    348
Name: Input_A3_006, dtype: int64
False    348
Name: Input_A3_007, dtype: int64
False    348
Name: Input_A3_008, dtype: int64
False    348
Name: Input_A3_009, dtype: int64
False    348
Name: Input_A3_010, dtype: int64
False    348
Name: Input_A3_011, dtype: int64
False    348
Name: Input_A3_012, dtype: int64
False    348
Name: Input_A3_013, dtype: int64
False    348
Name: Input_A3_014, dtype: int64
False    348
Name: Input_A3_015, dtype: int64
False    348
Name: Input_A3_016, dtype: int64
False    348
Name: Input_A3_017, dtype: int64
False    348
Name: Input_A3_018, dtype: int64
False    348
Name: Input_A3_019, dtype: int64
False    348
Name: Input_A3_020, dtype: int64
False    348
Name: Input_A3_021, dtype: int64
False    348
Name: Input_A3_022, dtype: int64
False    348
Name: Input_A3_023, dtype: int64
False    348
Name: Input_A3_024, dtype: int64
False    348
Name: Input_A4_001, dtype: int64
False    348
Name: Input_A4_002, dtype: int64
False    348
Name: Input_A4_003, dtype: int64
False    348
Name: Input_A4_004, dtype: int64
False    348
Name: Input_A4_005, dtype: int64
False    348
Name: Input_A4_006, dtype: int64
False    348
Name: Input_A4_007, dtype: int64
False    348
Name: Input_A4_008, dtype: int64
False    348
Name: Input_A4_009, dtype: int64
False    348
Name: Input_A4_010, dtype: int64
False    348
Name: Input_A4_011, dtype: int64
False    348
Name: Input_A4_012, dtype: int64
False    348
Name: Input_A4_013, dtype: int64
False    348
Name: Input_A4_014, dtype: int64
False    348
Name: Input_A4_015, dtype: int64
False    348
Name: Input_A4_016, dtype: int64
False    348
Name: Input_A4_017, dtype: int64
False    348
Name: Input_A4_018, dtype: int64
False    348
Name: Input_A4_019, dtype: int64
False    348
Name: Input_A4_020, dtype: int64
False    348
Name: Input_A4_021, dtype: int64
False    348
Name: Input_A4_022, dtype: int64
False    348
Name: Input_A4_023, dtype: int64
False    348
Name: Input_A4_024, dtype: int64
False    348
Name: Input_A5_001, dtype: int64
False    348
Name: Input_A5_002, dtype: int64
False    348
Name: Input_A5_003, dtype: int64
False    348
Name: Input_A5_004, dtype: int64
False    348
Name: Input_A5_005, dtype: int64
False    348
Name: Input_A5_006, dtype: int64
False    348
Name: Input_A5_007, dtype: int64
False    348
Name: Input_A5_008, dtype: int64
False    348
Name: Input_A5_009, dtype: int64
False    348
Name: Input_A5_010, dtype: int64
False    348
Name: Input_A5_011, dtype: int64
False    348
Name: Input_A5_012, dtype: int64
False    348
Name: Input_A5_013, dtype: int64
False    348
Name: Input_A5_014, dtype: int64
False    348
Name: Input_A5_015, dtype: int64
False    348
Name: Input_A5_016, dtype: int64
False    348
Name: Input_A5_017, dtype: int64
False    348
Name: Input_A5_018, dtype: int64
False    348
Name: Input_A5_019, dtype: int64
False    348
Name: Input_A5_020, dtype: int64
False    348
Name: Input_A5_021, dtype: int64
False    348
Name: Input_A5_022, dtype: int64
False    348
Name: Input_A5_023, dtype: int64
False    348
Name: Input_A5_024, dtype: int64
False    348
Name: Input_A6_001, dtype: int64
False    348
Name: Input_A6_002, dtype: int64
False    348
Name: Input_A6_003, dtype: int64
False    348
Name: Input_A6_004, dtype: int64
False    348
Name: Input_A6_005, dtype: int64
False    348
Name: Input_A6_006, dtype: int64
False    348
Name: Input_A6_007, dtype: int64
False    348
Name: Input_A6_008, dtype: int64
False    348
Name: Input_A6_009, dtype: int64
False    348
Name: Input_A6_010, dtype: int64
False    348
Name: Input_A6_011, dtype: int64
False    348
Name: Input_A6_012, dtype: int64
False    348
Name: Input_A6_013, dtype: int64
False    348
Name: Input_A6_014, dtype: int64
False    348
Name: Input_A6_015, dtype: int64
False    348
Name: Input_A6_016, dtype: int64
False    348
Name: Input_A6_017, dtype: int64
False    348
Name: Input_A6_018, dtype: int64
False    348
Name: Input_A6_019, dtype: int64
False    348
Name: Input_A6_020, dtype: int64
False    348
Name: Input_A6_021, dtype: int64
False    348
Name: Input_A6_022, dtype: int64
False    348
Name: Input_A6_023, dtype: int64
False    348
Name: Input_A6_024, dtype: int64
False    348
Name: Input_C_001, dtype: int64
False    348
Name: Input_C_002, dtype: int64
False    348
Name: Input_C_003, dtype: int64
False    348
Name: Input_C_004, dtype: int64
False    348
Name: Input_C_005, dtype: int64
False    348
Name: Input_C_006, dtype: int64
False    348
Name: Input_C_007, dtype: int64
False    348
Name: Input_C_008, dtype: int64
False    348
Name: Input_C_009, dtype: int64
False    348
Name: Input_C_010, dtype: int64
False    348
Name: Input_C_011, dtype: int64
False    348
Name: Input_C_012, dtype: int64
False    348
Name: Input_C_013, dtype: int64
False    348
Name: Input_C_014, dtype: int64

TypeError: could not convert string to float: 'N;0;L;1'